mat-card {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

mat-card:hover {
    transform: scale(1.03);
    z-index: 999;
}

.birthay-icon {
  height: 100px;
  width: 100px;
  position: absolute;
}
