<div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

<mat-card class="winner" fxFlex="30" fxFlex.xs="80" [ngStyle.xs]="{'width.%': 100}">
  <mat-card-header>
    <mat-card-title>Normantas</mat-card-title>
    <mat-card-subtitle>Išgyventojas 2017</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/normantas.jpg" alt="Normanto nuotrauka" routerLink="/players/norma">
  <mat-card-content>
    <p>
      Normantas Pranys - pirmojo Išgyventojo sezono nugalėtojas. Pasitelkęs alų,
      cigaretes ir klastą, vienas jauniausių žaidimo dalyvių nukeliavo iki pat finalo, kuriame sėkmingas žaidimas buvo vainikuotas pergale. Apibūdinantis save
      kaip "labai suktą gyvačioką :)", šiemet Norma dalyvaus jau trečiajame savo žaidime ir sieks atsigriebti po patirtos nesėkmės 2018-aisiais metais.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="winner" fxFlex="30" fxFlex.xs="80">
  <mat-card-header>
    <mat-card-title>Simona</mat-card-title>
    <mat-card-subtitle>Išgyventoja 2018</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/simona.jpg" alt="Simonos nuotrauka" routerLink="/players/simona">
  <mat-card-content>
    <p>
      Simona Sparnauskaitė - antrojo Išgyventojo sezono nugalėtoja. Žaidime išlaikiusi vertingas sąjungas, paskutiniame iššūkyje pirmoji įkūrusi laužą, finale įveikė fanų favoritą
      Marių ir šventė pergalę. Nors ir nemoka nulupti apelsino, Simona šiemet sieks tapti pirmąja žaidėja, triumfuojančia Išgyventojo žaidime 2 metus iš eilės.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="winner" fxFlex="30" fxFlex.xs="80">
  <mat-card-header>
    <mat-card-title>Tu</mat-card-title>
    <mat-card-subtitle>Išgyventojas 2019</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://cdn4.iconfinder.com/data/icons/political-elections/50/48-512.png" alt="Čia galėtum būti tu">
  <mat-card-content>
    <p>
      Kokia bus tavo pergalės istorija?
    </p>
  </mat-card-content>
</mat-card>

</div>
