// .login-form {
//   // min-width: 150px;
//   // max-width: 500px;
//   // width: 100%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .login {
//   position: relative;
// }

// h1 {
//   text-align: center;
// }

// .full-width {
//   width: 100%;
// }

// .login-error {
//   color: red;
// }


mat-card {
  min-width: 400px;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  margin: 20px auto;
}
button {
  width: 100%;
  margin: 10px 0;
  color: white;
}

mat-form-field {
  display: block ;
  background-color: #424242;
}

@media only screen and (max-width: 450px){
  mat-card{
      min-width: 100px;
      max-width: 270px;
      max-height: 460px;  
  }
}