<div class="container">
  <h1>Užuominos</h1>
  <mat-card>
    <mat-card-title>Klausimai</mat-card-title>
    <mat-card-content>
      <form class="hints-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" *ngFor="let question of questionFields">
          <input matInput [placeholder]="question.question.questionText" [formControl]="question.control" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Bandyti</button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="submitted">
    <mat-card-title>{{ success ? "Sveikinam" : "Nesveikinam"}}</mat-card-title>
    <mat-card-content>
      <div>
        {{message}}
      </div>
    </mat-card-content>
  </mat-card>
</div>
