<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>rowing</mat-icon> <span class="nav-caption"> Išgyventojas</span>
  </a>
  <a mat-list-item routerLink="/winners" (click)="onSidenavClose()">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#ffffff"
        d="M20.2,4H20H17V2H7V4H4.5H3.8H2V11C2,12 3,13 4,13H7.2C7.6,14.9 8.6,16.6 11,16.9V19C8,19.2 8,20.3 8,21.6V22H16V21.7C16,20.4 16,19.3 13,19.1V17C15.5,16.7 16.5,15 16.8,13.1H20C21,13.1 22,12.1 22,11.1V4H20.2M4,11V6H7V8V11C5.6,11 4.4,11 4,11M20,11C19.6,11 18.4,11 17,11V6H18H20V11Z" />
    </svg> <span class="nav-caption"> Laimėtojai</span>
  </a>
  <a mat-list-item routerLink="/gallery" (click)="onSidenavClose()">
    <mat-icon>photo_library</mat-icon><span class="nav-caption">Galerija</span>
  </a>
  <a mat-list-item routerLink="/players" (click)="onSidenavClose()">
    <i class="material-icons">face</i> <span class="nav-caption"> Žaidėjai</span>
  </a>
  <a mat-list-item routerLink="/statistics" (click)="onSidenavClose()">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#ffffff"
        d="M16,11.78L20.24,4.45L21.97,5.45L16.74,14.5L10.23,10.75L5.46,19H22V21H2V3H4V17.54L9.5,8L16,11.78Z" />
    </svg><span class="nav-caption"> Statistika</span>
  </a>
</mat-nav-list>
