<div fxLayout="row">
  <div fxFlex="90" fxFlexOffset="5">
    <div fxLayout="column">
      <section id="title-and-slogan" fxFlex="20" >
        <h1>Mančiagirė 2019 | Survivor S3</h1>
        <h3>Apgauk. Apžaisk. Apgyvenk.</h3>
      </section>
      <section id="logo" class="imgbox" fxFlex="60">
          <img class="center-fit" src="https://firebasestorage.googleapis.com/v0/b/survivor-e2d68.appspot.com/o/common%2Fsurvivor19.png?alt=media&token=90c67f4d-ac74-4906-a2ac-f4cf8ea9d8ac" alt="">
      </section>
      <section fxFlex="20">
        <p>Gyvenk gyvenk ir išgyvensi</p>
      </section>
    </div>
  </div>
</div>
