<div fxLayout="row">
  <div fxFlex="90" fxFlexOffset="5">
    <div fxLayout="column">
      <section id="title-and-slogan" fxFlex="20">
        <h1>Mančiagirė 2019 | Survivor S3</h1>
        <h3>Pergudrauk. Apžaisk. Išlik.</h3>
      </section>
      <section id="intro-video" fxFlex="60">
        <mat-video title="Išgyventojas 2019" [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin">
          <source matVideoSource src="{{videoUrl}}" type="video/mp4">
        </mat-video>
      </section>
      <section fxFlex="20">
        <p>Gyvenk gyvenk ir išgyvensi</p>
      </section>
    </div>
  </div>
</div>
