<div *ngIf="!isLoading" class='stats-body' fxLayout="row wrap" fxLayout.sm="column" fxLayoutAlign.sm="center" fxLayout.xs="column" fxLayoutAlign.xs="center" fxLayoutAlign="center" >
    <div class="chart" fxFlex="45" [ngStyle.xs]="{'display': 'none'}">
        <div>
            <h1>Žaidimų skaičius</h1>
              <canvas baseChart class='winners-chart'
                [data]="timesPlayedChartData"
                [labels]="timesPlayedChartLabels"
                [chartType]="customOptions.chartType"
                [options]="customOptions.chartOptions"
                [colors]="customOptions.chartColors"
                [legend]="customOptions.chartLegend">
              </canvas>
            </div>
    </div>
    <div class="chart" fxFlex="45" [ngStyle.xs]="{'display': 'none'}">
        <div>
            <h1>Pergalės</h1>
              <canvas baseChart class='winners-chart'
                [data]="winnersChartData"
                [labels]="winnersChartLabels"
                [chartType]="customOptions.chartType"
                [options]="customOptions.chartOptions"
                [colors]="customOptions.chartColors"
                [legend]="customOptions.chartLegend">
              </canvas>
            </div>
    </div>
    <div class="chart" fxFlex="45" [ngStyle.xs]="{'display': 'none'}">
      <div>
          <h1>Finalinis trejetukas</h1>
            <canvas baseChart class='winners-chart'
              [data]="finalThreeChartData"
              [labels]="finalThreeChartLabels"
              [chartType]="customOptions.chartType"
              [options]="customOptions.chartOptions"
              [colors]="customOptions.chartColors"
              [legend]="customOptions.chartLegend">
            </canvas>
          </div>
    </div>
  <div class="chart" fxFlex="45" [ngStyle.xs]="{'display': 'none'}">
    <div>
        <h1>Mėgstamiausio žaidėjo balsai</h1>
          <canvas baseChart class='winners-chart'
            [data]="favoriteVotesChartData"
            [labels]="favoriteVotesChartLabels"
            [chartType]="customOptions.chartType"
            [options]="customOptions.chartOptions"
            [colors]="customOptions.chartColors"
            [legend]="customOptions.chartLegend">
          </canvas>
        </div>
    </div>
    <div class='stats' fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign.xs="strech" fxLayoutAlign="space-between center">
      <mat-card class='stats-card' *ngFor="let item of stats" fxFlex="20" fxFlex.xs="40" [ngStyle]="{'height.vw': 18, 'margin.px': 8}" [ngStyle.sm]="{'height.vw': 24, 'margin.px': 6}" [ngStyle.xs]="{'height.vw': 30, 'margin.px': 4}">
          <mat-card-title [ngStyle]="{'fontSize.em': 1.2}" [ngStyle.sm]="{'fontSize.em': 1}" [ngStyle.xs]="{'fontSize.em': 0.8}">{{ item.title }}</mat-card-title>
          <mat-card-content >
            <div class='stats-item'>
              <mat-icon class='stats-icon' aria-hidden="false" aria-label="Example home icon">{{ item.icon }}</mat-icon>
              {{ item.value }}
            </div>
        </mat-card-content>
        </mat-card>
  </div>
</div>
