.stats-item {
    font-size: 50px;
    text-align: center;
}

.stats-card {
    width: 15vw;
    height: 15vh;
    float: left;
    margin: 2px;
}

.stats-icon {
  font-size: 50px;
  padding: 20px;
}

.chart {
  width: 35vw;
  height: 500px;
  float: left;
  margin: 10px;
}

.stats-body {
  width: 80%;
  margin: auto;
}

.stats {
  margin: auto
}
